.blueGridCell {
  grid-area: blueTeam;
  display: flex;
  justify-content: center;
}
.blueBoxCard {
  display: flex;
  flex-direction: column;
  color: #d2dcde;
  padding: 15px 15px 25px 15px;
  background-color: #365e7f;
  border-radius: 6px;
  border: black solid 1px;
  font-family: 'Oswald';
  font-weight: 400;
  letter-spacing: 1px;
  grid-area: blueTeam;
  width: 60%;
  height: fit-content;
  justify-content: space-evenly;
}
.blueBoxCard h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  font-weight: 400;
  letter-spacing: 1px;
}
.blueBoxCard button {
  width: fit-content;
  height: 30px;
  background-color: white;
  border-top: solid black 1px;
  border-left: solid black 1px;
  border-right: solid black 3px;
  border-bottom: solid black 3px;
  border-radius: 5px 10px;
  font-family: 'oswald';
  margin-top: 8px;
}
.blueOpsAndSpys {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 30px;
  padding-left: 1vw;
}
.blueOpsAndSpys p {
  margin: 8px 0 8px;
  padding: 0;
}
.playerNameContainer {
  display: flex;
  flex-wrap: wrap;
}
.playerName {
  color: white;
  border: 1px solid beige;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 1px;
  border-radius: 5px;
  padding-top: 2px !important;
  padding-bottom: 2px !important;
  padding-left: 6px !important;
  padding-right: 6px !important;
  margin: 4px !important;
  word-break: break-all;
  width: fit-content;
}

/*---------------------------------------------mobile----------------------------*/
@media only screen and (max-width: 600px) {
  /*these numbers are not confirmed, change to make it work, I put in numbers that are good enough for the layout*/
  /*try take of border radius on the box and see how it looks*/
  .blueBoxCard {
    font-size: 12px;
    font-weight: 200;
    width: 50vw;
    height: auto;
  }
  .blueBoxCard button {
    font-size: 12px;
  }
  .blueOpsAndSpys {
    width: 100%;
  }
}
/*------------------------------------tablet and small laptop-------------------------------------*/

/* i'm not sure what do we need to change here to make it look good, this is basically a larger version of mobile view*/
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .blueBoxCard {
    width: 70%;
  }
}
/*  this is basically a smaller version of the default view*/
@media only screen and (min-width: 1024px) and (max-width: 1400px) {
  .blueBoxCard {
    width: 80%;
  }
}
