.redBoxCard {
  height: fit-content;
  width: 15%;
  color: #e0620e;
  padding: 15px;
  background-color: #8c2a2a;
  border-radius: 6px;
  margin: 0 2% 0 0;
  border: black solid 1px;
  font-family: 'Oswald';
}
.redOpsAndSpys {
  display: inline-block;
  width: 250px;
  margin-top: 30px;
}

.playerName {
  color: white;
  border: 1px solid beige;
  border-radius: 5px;
  padding: 2px;
  margin: 5px;
}
