@font-face {
  font-family: myFirstFont;
  src: url('../Home/fonts/death-from-above-font/DeathFromAbove-Ow9P.ttf') format('truetype');
}
/* PAGINATION STYLES */
.pagination {
  display: flex;
  justify-content: space-between;
  list-style: none;
  cursor: pointer;
  padding: 0;
}

.pagination a {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid black;
  margin: 4px;
  background-color: white;
  font-family: 'Dogfish', sans-serif;
  color: black;
}

.pagination__link {
  font-weight: bold;
}

.pagination__link--active-red a {
  color: #fff;
  background-color: lightcoral;
  color: black;
}
.pagination__link--active-blue a {
  color: #fff;
  background-color: #517992;
  color: black;
}
.pagination__link--disabled a {
  color: rgb(198, 197, 202);
  background-color: white;
  border: 1px solid rgb(198, 197, 202);
}

.paginateContainer {
  display: flex;
  justify-content: center;
  width: 800px;
  margin: 12px 0 48px 0;
}
.leaderboardContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 98vh;
}
.leaderboardContainer h1 {
  font-size: 84px;
  font-family: myFirstFont;
  letter-spacing: 8px;
  color: white;
  margin: 0 0 32px;
  user-select: none;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid rgb(255, 255, 255); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  animation: typing-leaderboard 1.5s steps(12, end), blink-caret-l 0.75s step-end infinite;
}
.homeButton {
  /* border: 2px solid black; */
  margin-top: 16px;
  width: 96vw;
}
.homeButton button {
  border-right: solid black 3px;
  border-bottom: solid black 3px;
  background-color: white;
  color: black;
  width: fit-content;
  padding: 1px 5px;
  font-family: 'Oswald';
  font-size: 16px;
  border-radius: 5px 10px;
}
.players {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Oswald';
  height: 400px;
  width: 400px;
  padding: 36px;
  align-items: center;
  border: 0.5px solid black;
  background-color: white;
  border-radius: 10px;
}
.playerRow {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid black;
}
.playerUsername {
  display: flex;
  justify-content: flex-start;
  min-width: 200px;
}
.playerWins {
  display: flex;
  justify-content: flex-end;
  min-width: 80px;
}
#headers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 280px;
  border-bottom: 1px solid black;
}
@keyframes typing-leaderboard {
  from {
    width: 0;
  }
  to {
    width: 50%;
  }
}
/* The typewriter cursor effect */
@keyframes blink-caret-l {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgb(255, 255, 255);
  }
}
