/* PAGINATION STYLES */
.pagination {
    display: flex;
    justify-content: space-between;
    list-style: none;
    cursor: pointer;
    padding: 0;
    background-color: white;
  }
  
  .pagination a {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
    margin: 4px;
    background-color: white;
    font-family: 'Dogfish', sans-serif;
    color: black;
  }
  
  .pagination__link {
    font-weight: bold;
  }
  
  .pagination__link--active a {
    color: #fff;
    background-color: rgb(255, 216, 19);
    color: black;
  
  }
  
  .pagination__link--disabled a {
    color: rgb(198, 197, 202);
    background-color: white;
    border: 1px solid rgb(198, 197, 202);
  }
  
  .paginateContainer{
      display: flex;
      justify-content: center;
      width: 800px;
      margin: 12px 0 48px 0;
  }
  .leaderboardContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
  }
  .players{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid red;
  }
  .playerRow{
    display: flex;
    flex-direction: row;
  }
.playerUsername{
border: 1px solid blue;
min-width: 200px;
}
.playerWins{
    min-width: 80px;
    border: 1px solid green;
}