.notYetRevealed {
    width: 120pt;
    height: 96pt;
  background-color: #e2c78d;
  align-content: 'center';
  margin: 0;
  color: black;
  text-align: center;
  font-size: 15px;
  font-family: 'Montserrat';
  text-decoration: underline;
  border: solid 3px black;
}
.redRevealed {
  width: 120pt;
    height: 96pt;
  background-image: url(./red.svg);
  background-repeat: no-repeat;
  background-size: cover;
  text-indent: -9999px;
  margin: 0;
  border: none;
}

.blueRevealed {
  width: 120pt;
    height: 96pt;
    background-image: url(./blue.svg);
    background-repeat: no-repeat;
    background-size: cover;
  margin: 0;
  text-indent: -9999px;
  border: none;
}

.beigeRevealed {
  width: 120pt;
    height: 96pt;
    background-image: url(./beige.svg);
    background-repeat: no-repeat;
    background-size: cover;
  margin: 0;
  text-indent: -9999px;
  border: none;
}

.blackRevealed {
  width: 120pt;
    height: 96pt;
    background-image: url(./black.svg);
    background-repeat: no-repeat;
    background-size: cover;
  margin: 0;
  text-indent: -9999px;
  border: none;
}

.redStyle {
  background-color: #8c2a2a;
  width: 120pt;
    height: 96pt;
  text-align: 'center';
  align-content: 'center';
  margin: 0;
  color: black;
  text-align: center;
  font-size: 15px;
  font-family: 'Montserrat';
  text-decoration: underline;
  border: solid 3px black;
}
.blueStyle {
  background-color: #365e7f;
  width: 120pt;
    height: 96pt;
  text-align: 'center';
  align-content: 'center';
  margin: 0;
  color: black;
  text-align: center;
  font-size: 15px;
  font-family: 'Montserrat';
  text-decoration: underline;
  border: solid 3px black;
}
.beigeStyle {
  width: 120pt;
    height: 96pt;
  text-align: 'center';
  align-content: 'center';
  margin: 0;
  color: black;
  background-color: #e2c78d;
  font-size: 15px;
  font-family: 'Montserrat';
  text-decoration: underline;
  border: solid 3px black;
}
.blackStyle {
  width: 120pt;
    height: 96pt;
  text-align: 'center';
  align-content: 'center';
  margin: 0;
  font-weight: bold;
  font-size: 15px;
  background-color: rgb(0, 0, 0);
  color: white;
  font-family: 'Montserrat';
  text-decoration: underline;
  border: solid 3px white;
}
