.aboutPage {
  display: grid;
  grid-template-rows: auto 51px;
  grid-template-columns: 30% 1fr;
  grid-template-areas:
    'aboutIntro aboutMember'
    'footer footer';
}
.aboutIntro {
  grid-area: aboutIntro;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-right: solid 1px white;
  padding: 1% 10%;
  color: white;
  font-weight: 300;
}
.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 2%;
}
.flex-container img {
  margin-left: 10px;
}
.aboutTeam {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      'member1 member2 member3'
      'member4 member5 member5';
    color: white;
    font-weight: 300;
  grid-area: aboutMember;
align-items: start;
justify-content: center;
margin-left:5vw;

}

.aboutTeamMember {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size:15px;
  width: 80%;
}
.heidi{grid-area: member1;}
.rose{grid-area: member2;}
.olivia{grid-area: member3;}
.josh{grid-area: member4;
}
.topher{grid-area: member5;}
.aboutTeamMember span {
  border-bottom: solid white 1px;
  width: 300px;
  text-align: center;
  margin-top: 16px;
}
.contacts {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 300px;
  color: white;
}
.contacts a {
  color: white;
}
.aboutTeamMember img {
  width: 100px;
  border-radius: 100px;
}
.memberContent {
  color: white;
  background-color: #e6e6e62e;
  padding: 16px;
  border-radius: 10px 40px;
  margin-top: 0;
}
.homeButton {
  border-right: solid black 3px;
  border-bottom: solid black 3px;
  background-color: white;
  cursor: pointer;
  color: black;
  width: fit-content;
  padding: 1px 5px;
  font-family: 'Oswald';
  font-size: 16px;
  border-radius: 5px 10px;
  margin-left: 2vw;
}
