.homeButton{  border-right: solid black 3px;
    border-bottom: solid black 3px;
    background-color: white;
    cursor: pointer;
    color: black;
    width: fit-content;
    padding: 1px 5px;
    font-family: 'Oswald';
    font-size: 16px;
    border-radius: 5px 10px;
margin-left:2vw;}
.faqContainer{ border-radius: 5px 50px;
    width: 80vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
    background-color: #ffffffbd;
    align-items: center;
    margin: auto;
    font-family: Montserrat;
    color: black;
    font-size: 16px;
    line-height: 24px;
margin-top:5vw}
.ulContainer{padding:5% 10%}