@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 130%;
  }
}
/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgb(255, 255, 255);
  }
}
@font-face {
  font-family: myFirstFont;
  src: url('./fonts/death-from-above-font/DeathFromAbove-Ow9P.ttf') format('truetype');
}

body {
  background-image: url(../RoomView/bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: auto;
  width: auto;
}
.codenames {
  font-size: 84px;
  font-family: myFirstFont;
  letter-spacing: 8px;
  color: white;
  margin-bottom: 2%;
  user-select: none;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid rgb(255, 255, 255); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  animation: typing 1.5s steps(12, end), blink-caret 0.75s step-end infinite;
}

.logo {
  margin: 60px;
  width: 100px;
}
.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
  height: 90vh;
  width: 30%;
  margin: auto;
}
.loginContainer {
  display: flex;
  flex-direction: column;
  padding: 2vw;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: white;
  align-items: center;
  justify-content: center;
  justify-items: center;
}
.startGameBtn {
  width: fit-content;
  height: 50px;
  font-size: 20px;
  padding: 5px 20px;
  background-color: white;
  border-top: solid black 1px;
  border-left: solid black 1px;
  border-right: solid black 3px;
  border-bottom: solid black 3px;
  border-radius: 5px 10px;
  font-family: 'oswald';
}
.startGameBtn:hover {
  cursor: pointer;
  background-color: #e2c78d;
}
@media only screen and (max-width: 600px) {
  body {
    overflow: hidden;
  }
  .codenames {
    font-size: 24px;
    font-family: myFirstFont;
    letter-spacing: 8px;
    color: white;
    margin-bottom: 2%;
    user-select: none;
    animation: none;
    white-space: nowrap;
    border-right: none;
  }
  .homeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    height: 90vh;
    width: 90vw;
    margin: auto;
    overflow-y: none;
  }
}
