@font-face {
  font-family: myFirstFont;
  src: url('./fonts/death-from-above-font/DeathFromAbove-Ow9P.ttf') format('truetype');
}

body {
  background-image: url(../RoomView/bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height:100vh;
}
.codenames {
  font-size: 84px;
  font-family: myFirstFont;
  letter-spacing: 8px;
  color: white;
  margin-bottom: 50px;
  user-select: none;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid rgb(255, 255, 255); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */

  animation: typing 1.5s steps(12, end), blink-caret 0.75s step-end infinite;
}

.logo {
  margin: 60px;
  width: 100px;
}
.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
  height: 100vh;
  width: 30%;
  margin: auto;
  margin-top: 10vh;
}
.loginContainer {
  display: flex;
  flex-direction: column;
  padding: 2vw;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: white;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 130%;
  }
}
/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgb(255, 255, 255);
  }
}
