.narbarContainer
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navBarButtons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-grow: .1;
}
.logo img 
{
width: 50px;
}