.chat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 400px;
  margin-top: 2%;
  margin-left: 2%;
  padding: 15px;
  border-radius: 6px;
  background-color: gainsboro;
  /* overflow: auto; */
}
.messages {
  overflow-wrap: break-word;
  height: 350px;
  width: 200px;
  font-family: 'Montserrat', sans-serif;
  font-size: smaller;
  font-weight: 400;
  overflow-y: scroll;
}

.input-container input {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0;
  padding-left: 5px;
  margin-top: 5px;
  width: 200px;
  height: 40px;
}

.sender {
  font-weight: 500;
}

.team-one-message {
  color: #8c292a;
}
.team-two-message {
  color: #355e7f;
}
.spectator-message {
  color: black;
}
