.chatBoxGridCell {
  grid-area: chatBox;
  display: flex;
  justify-content: center;
  margin: 2% 0 10% 0;
}
.chat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  padding: 15px;
  border-radius: 6px;
  background-color: gainsboro;
  height: 80%;
  border: black solid 1px;
}

.chat-header {
  font-weight: 400;
  border-bottom: solid black 2px;
  margin-top: 1%;
}
.messages {
  overflow-wrap: break-word;
  height: 300px;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: smaller;
  font-weight: 400;
  overflow-y: scroll;
}

.message-input {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0;
  padding-left: 5px;
  margin-top: 5px;
  width: 90%;
  padding: 10px;
}

.sender {
  font-weight: 500;
}

.team-one-message {
  color: #8c292a;
}
.team-two-message {
  color: #355e7f;
}
.spectator-message {
  color: black;
}
/*---------------------------------------------mobile----------------------------*/
@media only screen and (max-width: 600px) {
  /*try take of border radius on the box and see how it looks*/
  /*font and padding need to change*/
  .chat-container {
    width: 100%;
  }
}
/*-----------------------------------tablet and small Laptop--------------------------------------*/

@media only screen and (min-width: 601px) and (max-width: 1024px) {  .chat-container {
  width: 70%;
}}
@media only screen and (min-width: 1025px) and (max-width: 1400px) {
  .chat-container {
    width: 80%;
  }
}