.lastRow {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  border-top: 0.1px solid rgba(0, 0, 0, 0.4);
  font-weight: 100;
  grid-area: footer;
}
.icons {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.miscInfo {
  display: flex;
  user-select: none;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  gap: 16px;
  align-items: center;
  color: white;
}
.miscInfo a {
  color: inherit;
}
.groupInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  border-left: 0.5px solid rgba(0, 0, 0, 1);
  border-right: 0.5px solid rgba(0, 0, 0, 1);
  height: 50px;
}
/*-------------------------mobile-------------------------*/
@media only screen and (max-width: 600px) {
  .lastRow {
    display: flex;
    flex-direction: column;
    height: fit-content;
    gap: 4px;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    border-top: 0.1px solid rgba(0, 0, 0, 0.4);
    font-weight: 100;
    grid-area: footer;
  }
  .icons {
    height: fit-content;
  }
  .miscInfo {
    font-size: 9px;
    gap: 5px;
    height: fit-content;
  }
  .groupInfo {
    font-size: 9px;
    height: fit-content;
  }
  .groupInfo p {
    margin: 0;
    padding: 0;
  }
}
