.lastRow {
  display: flex;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  border-top: 0.1px solid rgba(0, 0, 0, 0.4);
  font-weight: 100;
  grid-area:footer;
}
.icons {
  height: 50px;
  margin: auto;
  display: flex;
  align-items: center;
}
.miscInfo {
  display: flex;
  user-select: none;
  font-size: 14px;
  gap: 16px;
  margin: auto;
  width: 20vw;
  align-items: center;
  color:white
}
.miscInfo a{color:inherit}
.groupInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  width: 60vw;
  border-left: 0.5px solid rgba(0, 0, 0, 1);
  border-right: 0.5px solid rgba(0, 0, 0, 1);
  height: 50px;
}
/*-------------------------mobile-------------------------*/
@media only screen and (max-width: 600px) {

  .lastRow {
    width: 100vw;
  }
  .icons {
    height: 20px;
  }
  .miscInfo {
    font-size: 9px;
    gap: 5px;
  }
  .groupInfo {

    font-size: 9px;

  }
}