
.userformPopup {
  background-color: #365e7f;
  position: fixed;
  width: 20%;
  height: 30%;
  padding: 3%;
  display: flex;
  margin: 5% auto;
  left: 0;
  right: 0;
  border-radius: 5px;
  z-index: 1;
  justify-content: center;
}
.popupContent {
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.popupContent form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.popupContent form input {
  width: 10rem;
  height: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 5px;
  filter: drop-shadow(3px 3px 1px black);
  border: none;
}
.popupContent form button {
  margin-top: 20px;
  width: fit-content;
  height: 30px;
  width: 12rem;
  background-color: white;
  border-top: solid black 1px;
  border-left: solid black 1px;
  border-right: solid black 3px;
  border-bottom: solid black 3px;
  border-radius: 5px 10px;
  font-family: 'oswald';
}
.userformPopup .close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
}
.userformPopup .close-btn{position: absolute;top:15px;right:15px;}
.disabled {
  pointer-events: none;
}
.roomContainer {
  margin: 2rem;
  margin-top: 8rem;
}

