.popup{
    background-color: #365e7f;
    box-shadow: 10px 15px #8c2a2a;
    position: fixed;
    width: 30vw;
    height: 30vh;
    padding: 3%;
    display: flex;
    margin: 10% auto;
    left: 0;
    right: 0;
    border-radius: 5px;
 
    justify-content: center;

}
.popupContent
 {
    color:#d2dcde;
    display: flex;
    flex-direction: column;

    justify-content: center;
    
}
.popup .close-btn{position: absolute;top:15px;right:15px;}