*,
*::before,
*::after {
  box-sizing: border-box;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: 30px;
  border-top: solid black 1px;
  border-left: solid black 1px;
  border-right: solid black 3px;
  border-bottom: solid black 3px;
  border-radius: 5px 10px;
  font-family: 'oswald';
  background-color: var(--background-color);
  color: #222;
  padding: 0.5em 1em;
  position: relative;
  cursor: pointer;

  --background-color: #e3e3e3;
  --border-size: 2px;
  --accent-color: #e3e3e3;
}
.btn.btn-background-circle::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: var(--background-color);
  border-radius: 50%;
  transform: scale(1.5);
}

.btn.btn-background-circle:hover::before,
.btn.btn-background-circle:focus::before {
  transform: scale(0);
}

.btn.btn-background-circle {
  z-index: 1;
  overflow: hidden;
  background-color: var(--accent-color);
}

.btn.btn-background-circle:hover,
.btn.btn-background-circle:focus {
  color: black;
}
